# Dependency directories
node_modules/

# nyc coverage directories
coverage/

# vscode
.vscode/

# compiled code
dist/

# generated test code
.tmp/

# logs
# disabled*

# config
config.json

# OSX
.DS_Store